.gallery {
  height: 500px;
  display: flex;
  flex-direction: row;

  column-gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.bloc3 {
  position: relative;
  display: flex;
  width: 400px;
  height: 500px;
  flex-direction: column;
  column-gap: 70px;
  row-gap: 10px;
  margin-bottom: 30px;
  box-shadow: 7px 1px 23px 3px grey;
}

.blur {
  position: absolute;
  z-index: 300;
  background-color: rgb(236, 29, 36, 0.8);
  width: 350px;
  height: 150px;
  perspective: 250px;
  transform: rotateX(90deg);
}

.image {
  position: relative;
  display: flex;
  height: 60%;
  justify-content: start;
  width: 100%;
}

.details3 {
  padding-left: 10px;
  display: flex;

  align-items: center;
  object-fit: cover;

  gap: 25px;
}

.bookmarks .title {
  background-color: rgb(236, 29, 36, 0.6);
  padding-top: 20px;
}
.bookmarks .dislike {
  position: absolute;
  z-index: 20;
  font-size: 40px;
}

.bookmarks .description {
  background-color: cornsilk;
  text-align: justify;
  padding-right: 15px;
}

.bookmarks img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
